html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

div {

}

.group-1 {
    background: #55B3B9;
    width: 75%;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 150px;
    transition: 0.3s ease-in-out;
}

.h1_group-1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.h2_group-1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.group-2 {
    background: #C56060;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 10px;
    height: 150px;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
}

.h2_group-2 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #222222B0;
    margin: 0;
}

.h3_group-2 {
    font-size: 2rem;
    font-family: 'Sail', sans-serif;
    color: #222222B0;
    margin: 0;
}

.group-3 {
    background: #8FC091;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 10px;
    height: 150px;
    transition: 0.3s ease-in-out;
}

.h2_group-3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #2222229E;
    margin: 0;
}

.h3_group-3 {
    font-size: 16px;
    font-family: 'Sail', sans-serif;
    color: #2222229E;
    margin: 0;
}

.group-4 {
    background: #8F86AF;
    padding-left: 10px;
    width: 50%;
    margin-bottom: 10px;
    height: 150px;
    transition: 0.3s ease-in-out;
}

.h2_group-4 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #2E2E2E6B;
    margin: 0;
}

.h3_group-4 {
    font-size: 2rem;
    font-family: 'Sail', sans-serif;
    color: #2E2E2E6B;
    margin: 0;
}

.group-1:hover h1 {
    font-size: 8rem;
}

.group-1:hover h2 {
    font-size: 6rem;
}

.group-2:hover h2 {
    font-size: 6rem;
}

.group-2:hover h3 {
    font-size: 4rem;
}

.group-3:hover h2 {
    font-size: 48px;

}

.group-3:hover h3 {
    font-size: 32px;
}

.group-4:hover h2 {
    font-size: 6rem;

}

.group-4:hover h3 {
    font-size: 4rem;
}

h2:hover {
    text-decoration: underline;
}

.group-1:hover {
    width: 100%;
    height: 200%;
}

.group-2:hover {
    width: 100%;
    margin-left: 0;
    height: 200%;
}

.group-3:hover {
    width: 100%;
    margin-left: 0;
    height: 200%;
}

.group-4:hover {
    width: 100%;
    height: 200%;
}

.group-1:hover + .group-2 {
    border: 5px solid red;
}

.group-2:hover + .group-3 {
    border: 5px solid red;
}

.group-3:hover + .group-4 {
    border: 5px solid red;
}

.group-4:hover + .group-1 {
    border: 5px solid red;   /*чомусь не працює*/
}
